<ul class="media-list">
  <li class="media">
    <%= link_to image_tag(@post.user.gravatar_url(:size => 90)), '#', :class=> 'pull-right' %>
    <div class="media-body">
      <ul class="breadcrumb">
         <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
         <li><%= link_to @post.board.name, board_path(@post.board) %></li>
       </ul>
      <div class="media-body">
        <h4 class="media-heading"><%= @post.title %></h4>
        <div>
          by <span><%= @post.user.email %></span>
        </div>
      </div>
    </div>
  </li>
  <li class="divider"/>
</ul>

<div>
  <%= raw @post.content %>
</div>

<% if current_user && @post.user == current_user %>
  <%= link_to 'Edit', edit_board_post_path(@board, @post) %> |
<% end %>
<% if current_user && current_user.is_admin? %>
  <%= link_to 'A-Edit', edit_admin_board_post_path(@board, @post) %> |
<% end %>

<%= link_to 'Back', board_posts_path(@board) %>
