<ul class="media-list">
  <li class="media">
    <%= link_to image_tag(@post.user.gravatar_url(:size => 90)), '#', :class=> 'pull-right' %>
    <div class="media-body">
      <ul class="breadcrumb">
         <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
         <li><%= link_to @post.board.name, board_path(@post.board) %></li>
       </ul>
      <div class="media-body">
        <h4 class="media-heading"><%= @post.title %></h4>
        <div>
          by <span><%= @post.user.name %></span>
          <span><%= time_ago_in_words @post.created_at %></span>
          <span><%= @post.view_count %> click(s)</span>
        </div>
      </div>
    </div>
  </li>
  <li class="divider"/>
</ul>

<div>
  <%= raw @post.content %>
</div>

<hr/>

<% if @post.replies %>
<ul class="media-list">
  <% @post.replies.each do |reply| %>
    <div class="media">
        <%= link_to image_tag(reply.user.gravatar_url(:size => 40)), '#', :class=> 'pull-left' %>
      <div class="media-body">
        <span><%= reply.user.name %> <%= time_ago_in_words reply.created_at %><span>
        <div>
            <%= raw reply.content %>
        </div>
      </div>
  </div>
  <div class="divider"/>
  <% end %>
</ul>
<% end %>

<% if current_user && @post.user == current_user %>
  <%= link_to 'Edit', edit_board_post_path(@board, @post) %> |
<% end %>
<% if current_user && current_user.is_admin? %>
  <%= link_to 'A-Edit', edit_admin_board_post_path(@board, @post) %> |
<% end %>
